/* Chargement d'une police */
@font-face {
    font-family: "kaushan_scriptregular";
    src: url("../fonts/kaushanscript-regular-webfont.woff2") format("woff2"),
        url("../fonts/kaushanscript-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* appliquer les propriétés CSS sur tous les éléments de la page */
* {
    /* faire en sorte que le padding et la bordure soient calculés à l'intérieur du conteneur. on change le mode de calcul à l'aide de box-sizing */
    box-sizing: border-box;
   
}

/* Ré-équilibrage du rem face au px pour des calculs super simples*/
html {
    font-size: 62.5%; /* ainsi 1rem = 10px au lieu de 16px */
}

body {

    background-image: url(../img/hamtaro.jpg);
    background-size: 100px;
    background-repeat: repeat;
    font-family: "Roboto", sans-serif;
    background-color: #f2f0f1;
    /* surcharger les marges appliquées par défaut */
    margin: 0;
    /* dès lors que l'on ajoute le header en positionnement fixé le contenu du body est "mangé" par la superposition du header, on ajoute une marge intérieure pour corriger ce soucis */
    padding-top: 100px;

    /* taille par défaut pour éviter d'avoir tous les éléments avec une taile définie à 10px */
    font-size: 1.6rem;

}

header {
    background-color: white;
    margin-bottom: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header img {
    width: 80px;
}

nav {
    /* flotaison à droite */
    float: right;
}

nav ul li {
    /* changer le comportement d'affichage d'un élément
    inline-block : l'élément se comporte en inline avec la possibilité de dimensionner l'élément */
    display: inline-block;
    /* changer la hauteur de ligne */
    line-height: 50px;
}

nav ul li a {
    color: #007bb6;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 10px;
}

nav ul li a:hover {
    border: 2px solid #007bb6;
    border-radius: 30px;
    background-color: #007bb6;
    color: white;
}

/* Casser / Arrêter / Stopper la flotaison */
.clearfix {
    clear: both;
}

main {
    /* modifier la largeur du conteneur */
    max-width: 1000px;
    /* centrer un bloc */
    margin: 0 auto;

    background-color: white;
    padding: 20px;
}

/* 
Les sélecteurs d'éléments HTML
*/
p {
    color: blue;
}

/* Cible les titres h1 et h2 en même temps */
h1,
h2 {
    color: red;
    font-family: "kaushan_scriptregular";
}

h6 {
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    background-color: pink;
    padding: 20px 20px;
    color: aqua;
}

/* Cible les paragraphes enfants d'une div */
div p {
    color: green;
}

/*
>
+
~
*/

/*
Les sélecteurs de classes
le . permet de cibler une classe
*/
.welcome {
    color: #e50914;
}
.poule {
    background-image: url(../img/PouleNC1.jpg);
    min-width: 200px;
    min-height: 200px;
}

.poule-text {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 4rem;
}
/* 
Les sélecteurs d'id
le # permet de cibler un id
*/
#presentation {
    /* ctrl + k + c -> commenter une ligne
    ctrl + k + u -> décommenter une ligne 
    background-color: #f2f0f1; */
    /* fond imagé 
    ../ indique que l'on remonte au dossier parent
    */
    background-image: url("../img/cloche.jpg");
    /* pas de répétition de l'image de fond */
    background-repeat: no-repeat;
    /* changer la taille du background 
    la valeur cover est très pratique pusiqu'elle optimise le remplissage en largeur et en hauteur */
    background-size: cover;

    /* centrer le texte */
    text-align: center;

    /* changer la taille de la police */
    font-size: 24px;
    /* texte en gras */
    font-weight: bold;

    /* marges intérieures */
    padding: 100px 40px;
}

.btn {
    color: #4285f4;
    /* enlever le soulignement par défaut d'un lien */
    text-decoration: none;
    font-size: 18px;
    /* ajouter une bordure 
    border: taille style couleur;
    */
    border: 2px solid #4285f4;
    /* bords arrondis */
    border-radius: 5px;
    padding: 10px;

    /* transition */
    transition: all 0.5s;
    /* transition: background-color 1s, color 0.5s linear 0.5s; */
}

/* appliquer des styles uniquement au survol d'un élément */
.btn:hover {
    background-color: #4285f4;
    color: white;
}

/* SERVICES */
#services {
    text-align: center;
}

#services h2 {
    font-size: 40px;
    /* mettre en majuscule */
    text-transform: uppercase;
    /* espacement des lettres */
    letter-spacing: 5px;
}

.col {
    /* flotaison à gauche */
    float: left;
    width: 33.33%;
    /*
    width: calc(100%/3);
    */

    padding: 0 10px;
}

.col p {
    text-align: justify;
    color: #333;
}

/* La ligne de séparation est en fait une bordure que l'on peut surcharger */
.col hr {
    border: 2px solid #4285f4;
    width: 50%;
}

.col i {
    /* FontAwesome est une police d'icones nous pouvons donc utiliser toutes les propriétés vues pour les polices (taille, couleur, ...) */
    font-size: 40px;
    color: #e50914;
}

/* FLEXBOX 
on cible le flex container pour utiliser flexbox avec la propriété display avec la valeur flex
*/
.row-flex {
    display: flex;
    /* on utilise l'espace restant entre chaque élément */
    justify-content: space-around;
    align-items: flex-start;
}

.col-flex {
    /* on dimensionne chaque flex item */
    flex-basis: 30%;
}

.row-flex figure {
    flex-basis: 50%;
}

/* IMAGES RESPONSIVE */
figure img,
figure video,
figure iframe {
    /* pour avoir une image responsive l'image doit toujours faire 100% de la taille de son conteneur  */
    width: 100%;

    /* résoudre le problème des 4px du bandeau qui déborde en bas de l'image */
    vertical-align: bottom;
}

/*
Comment l'élément doit se positionner ?
La propriété position

4 valeurs : 

    - static : est la valeur par défaut de tous les éléments
    Un élément static est un élément non positionné
    Un élément avec la propriété position avec une valeur autre que static est un élément positionné

    - fixed : un élément positionné par rapport à la fenêtre du navigateur. Cet élément reste toujours à la même place même si la page défile.
    On peut considérer que cet élément est en premier plan de notre site.
    Un élément fixé ne laisse aucun espace/trace dans la page là où il était placé dans le HTML

    - absolute : se comporte comme fixed sauf que son positionnement est relatif à l'élément parent positionné le plus proche au lieu d'être relatif à la fenêtre du navigateur

    - relative : se comporte de la même façon que static sauf que l'élément est positionné.

Où doit se positionner l'élément ?
Dès que vous avez un élément positionné, vous avez à votre disposition 4 propriétés pour indiquer où doit se positionner l'élément :

    - top
    - right: 10px;
    - left: 0;
    - bottom: 50%;

*/
header {
    /* Comment l'élément doit se positionner ? */
    position: fixed;
    /* Où doit se positionner l'élément ? */
    top: 0;
    left: 0;
    /* Par défaut l'élément fixé ne prend que l'espace dont il a besoin */
    right: 0;

    /* gérer les superpositions (sur l'axe z) */
    z-index: 1;
}

/* Superposer la légende au conteneur de l'image */
figure {
    position: relative;
}

figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #4285f4;
    color: white;
    padding: 1rem;
}

/*
MEDIA QUERIES

Le type de media permet de spécifier sur quel appareil va s'appliquer les styles :
    - screen : écrans couleurs
    - print : version imprimable
    - all : tous les medias
*/

/* MEDIA QUERY POUR MOBILE */
@media screen and (max-width: 575px) {
    h1 {
        color: blue;
    }

    .row-flex {
        /*
        Solution plus rapide
        flex-direction: column;
        */

        flex-wrap: wrap;
    }

    .col-flex {
        flex-basis: 100%;
    }
}

/* MEDIA QUERY POUR PHABLET 
min-width dans une media query -> borne minimale
max-width dans une media query -> borne maximale
*/
@media screen and (min-width: 576px) and (max-width: 767px) {
    h1 {
        color: green;
    }
}

/* LES TRANSITIONS */
h2 {
    color: blue;

    /* transition: color 1s; */
    /* transition: all 1s; appliquer la transition sur color+background-color */

    /* Transitions multiples */
    transition: background-color 0.5s, color 0.5s linear 0.5s;
}

h2:hover {
    color: red;
    background-color: #f2f0f1;
}

/* LES ANIMATIONS 

1/ Définir une animation
*/
@keyframes rainbowColor {
    0% {
        color: blue;
    }
    50% {
        color: green;
    }
    100% {
        color: yellow;
    }
}

/* 2/ Appliquer l'animation que nous venons de créer 
a/ on appelle l'animation que nous venons de créer -> rainbowColor
b/ on demande que chaque itération de l'animation se fasse en 3 secondes
c/ on demande que l'animation s'éxécute 3 fois
d/ on demande d'alterner le sens de l'animation à chaque itération
e/ on demande de garder la couleur de fin de la dernière itération de l'animation
*/
h1 {
    animation-name: rainbowColor;
    animation-duration: 3s;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

/* LES TRANSFORMATIONS */
figure {
    /* overflow avec la valeur hidden permet de masquer ce qui dépasse du conteneur sur l'axe x et l'axe y */
    overflow: hidden;
}

figure img {
    transition: transform 1s;
    /* si vous voulez modifier le point de départ de la transformation qui est par défaut au milieu de notre image */
    transform-origin: top left;
}

/*
exemple 1 : translation sur l'axe Y : vers le haut car la valeur est négative
exemple 2 : rotation : 3 tours
exemple 3 : effet de zoom
*/
figure img:hover {
    /* transform: translateY(-10px); */
    /* transform: rotate(3turn); */
    transform: scale(1.2);
}

/* ola 73 */
#ola73 {
    display: block;
    background-color: orange;
    padding: 10px 5px;
    color: white;
    width: 15%;
    border-radius: 5px;
    margin: 25px auto;
    text-align: center;
}
.actuKeenV {
    color: red;
    text-transform: uppercase;
    height: 30vh;
    display: flex;
    flex-direction: column;
    background-image: url(../img/keenV.jpg);
    background-repeat: repeat;
    background-size: 100px;
}

.actuKeenV h3 {
    text-align: center;
    padding-top: 20px;
    font-size: 3.0rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.menuconfinement {
    display: flex;
    justify-content: space-between;
}

.menuconfinement figure {
    flex-basis: 30%;
}

.menuconfinement img {
    width: 100%;
}

